@model OnlineStore.Models.CheckOut

@{
    ViewBag.Title = "CheckOut";


    var months = (new string[] { "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" })
        .Select(x => new SelectListItem { Text = x, Value = x });

    var years = new List<SelectListItem>();
    for (int i = 0; i < 5; i++)
    {
        years.Add(new SelectListItem
        {
            Text = (DateTime.Now.Year + i).ToString(),
            Value = (DateTime.Now.Year + i).ToString()
        });
    }
    if (User.Identity.IsAuthenticated)
    {
        Model.ContactEmail = User.Identity.Name;
    }

}
<div class="row">
    <div class="col-xs-12">
        <h2>Checkout</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Frequency</th>
                    <th>Price</th>
                    <th>Item Total</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>

                        <td>
                           @Model.CurrentCart.Service.Name
                           @Html.HiddenFor(m => m.CurrentCart.Service.Name)
                        </td>
                        <td>
                           

                        </td>
                        <td>
                            @((Model.CurrentCart.Service.Price ?? 0).ToString("C"))
                            @Html.HiddenFor(m => m.CurrentCart.Service.Price)
                        </td>
                        <td>
                            @((Model.CurrentCart.SubTotal ?? 0).ToString("C"))
                        </td>
                    </tr>
                
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3">Subtotal</th>
                    <th>
                        @Model.SubTotal
                    </th>
                </tr>
                <tr>
                    <th colspan="3">Shipping and Handling</th>
                    <th>
                        @Model.ShippingAndHandling
                    </th>
                </tr>
                <tr>
                    <th colspan="3">Tax</th>
                    <th>
                        @Model.Tax
                    </th>
                </tr>
                <tr>
                    <th colspan="3">Total</th>
                    <th>
                        @Model.Total
                   </th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-xs-12 col-sm-6">
        @using (Html.BeginForm())
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary(false)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ContactName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", placeholder = "Your Name" })
                @Html.ValidationMessageFor(m => m.ContactName)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ContactEmail, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ContactEmail, new { @class = "form-control", placeholder = "Your Email Address" })
                @Html.ValidationMessageFor(m => m.ContactEmail)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ShippingAddress, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ShippingAddress, new { @class = "form-control", placeholder = "Address" })
                @Html.ValidationMessageFor(m => m.ShippingAddress)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ShippingCity, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ShippingCity, new { @class = "form-control", placeholder = "City" })
                @Html.ValidationMessageFor(m => m.ShippingCity)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ShippingState, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ShippingState, new { @class = "form-control", placeholder = "State" })
                @Html.ValidationMessageFor(m => m.ShippingState)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ShippingPostalCode, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.ShippingPostalCode, new { @class = "form-control", placeholder = "Zip Code" })
                @Html.ValidationMessageFor(m => m.ShippingPostalCode)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CreditCardNumber, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CreditCardNumber, new { @class = "form-control", placeholder = "0000000000000000" })
                @Html.ValidationMessageFor(m => m.CreditCardNumber)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CardholderName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CardholderName, new { @class = "form-control", placeholder = "John Smith" })
                @Html.ValidationMessageFor(m => m.CardholderName)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CVV, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.CVV, new { @class = "form-control", placeholder = "000" })
                @Html.ValidationMessageFor(m => m.CVV)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ExpirationMonth, new { @class = "control-label" })
                <div class="input-group">
                @Html.DropDownListFor(m => m.ExpirationMonth, months, new { @class="form-control"})
                @Html.DropDownListFor(m => m.ExpirationYear, years, new { @class="form-control"})
                    
                
            </div></div>



            <input type="submit" class="btn btn-primary" />
        }
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
