@model OnlineStore.Models.Purchase

@{
    ViewBag.Title = "Receipt";
}
<div class="container" style="margin-left:327px; margin-top:30px;">
    <h1>Your order is complete!</h1>
    <h3>Thank you so much for shopping with us</h3>

    <div class="col-xs-12">
        <h2 style="margin-left:73px">Order Details</h2>
        <div class="well well-sm" style="max-height:200px; min-width:400px;">


            @{ if (Model.RecurrenceId == 2)
            {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tracking Number</th>
                                <th>Month</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size:16px;">@Model.TrackingNumber</td>
                                <td style="font-size:16px;">@Model.Month</td>
                                <td style="font-size: 16px;">@Model.Date</td>
                                <td style="font-size: 16px;">@(Model.Time): @(Model.Minutes) @(Model.AMPM) </td>
                            </tr>
                    </table>

                }
                if (Model.RecurrenceId == 3)
                {

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tracking Number</th>
                                <th>Month</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size:16px;">@Model.TrackingNumber</td>
                                <td style="font-size:16px;">@Model.Month</td>
                                <td style="font-size: 16px;">@Model.Date</td>
                                <td style="font-size: 16px;">@(Model.Time): @(Model.Minutes) @(Model.AMPM) </td>
                            </tr>
                    </table>
                }

                if (Model.RecurrenceId == 4)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tracking Number</th>
                                <th>Day of the Month</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size:16px;">@Model.TrackingNumber</td>
                                <td style="font-size: 16px;">@Model.Date</td>
                                <td style="font-size: 16px;">@(Model.Time): @(Model.Minutes) @(Model.AMPM) </td>
                            </tr>
                    </table>
                }

                if (Model.RecurrenceId == 5)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tracking Number</th>
                                <th>Day of the Week</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size:16px;">@Model.TrackingNumber</td>
                                <td style="font-size: 16px;">@Model.Day</td>
                                <td style="font-size: 16px;">@(Model.Time): @(Model.Minutes) @(Model.AMPM) </td>
                            </tr>
                    </table>
                }

                if (Model.RecurrenceId == 6)
                {

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tracking Number</th>
                                <th>Time of Service</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size:16px;">@Model.TrackingNumber</td>
                                <td style="font-size: 16px;">@(Model.Time): @(Model.Minutes) @(Model.AMPM) </td>
                            </tr>
                    </table>

                }

            }
        </div>
    </div>

</div>
